<!DOCTYPE html>
<html>
<head>
	<title>聊天</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="container" id="app">
		<div class="left">
			<ul>
				<li class="user" v-for="user in user_list">
					<img class="avatar" src="images/avatars/1.jpg">
					<div class="user-des">
						<p class="username">{{ user.name }}</p>
						<p class="user-time">{{ user.time }}</p>
					</div>
				</li>
			</ul>
		</div>
		<div class="right">
			<div class="right-title">{{ title }}({{ user_count }})</div>
			<div id="chat-container">
				<ul>
					<li class="chat" v-for="chat in chat_list">
						<template v-if="chat.user_id !== user_id">
							<img class="avatar-s" src="images/avatars/1.jpg">
							<div class="chat-content">
								<div class="chat-time">{{ chat.time }}</div>
								<p>{{ chat.txt }}</p>
							</div>
						</template>
						<template v-else>
							<img class="avatar-s" src="images/avatars/1.jpg" style="float: right;">
							<div class="chat-content" style="float: right;margin-right: 10px;">
								<div class="chat-time" style="text-align: right;">{{ chat.time }}</div>
								<p>{{ chat.txt }}</p>
							</div>
						</template>
					</li>
				</ul>
			</div>
			<div class="text">
				<div class="chat-div">
					<ul class="express">
						<li><img src="images/express.png"></li>
						<li><img src="images/message.png"></li>
					</ul>
					<textarea class="txt" v-model="text" @keyup.13="send()"></textarea>
					<div class="button">
						<button class="send-btn" @click="send()">发送(enter)</button>
					</div>
				</div>
				<div class="name-div" v-bind:class="{ named: isNamed }">
					<p>取个网名先，头像随机分配噢~</p>
					<div class="make-div">
						<input type="text" v-model="username">
						<button class="name-btn" @click="makeName()">确定</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script type="text/javascript">
		var websocket = new WebSocket("ws:192.168.33.104:9501");
		websocket.onopen = function(){
			console.log('connected!')
		}
		websocket.onclose = function(){
			console.log('server closed!')
		}
		websocket.onmessage = function(e){
			// var data = JSON.parse(e.data)
			console.log(e)
		}
		websocket.onerror = function(){
			alert('连接失败')
		}
	</script>
	<script>
		var app = new Vue({
			el: '#app',
			data: {
				ws: websocket,
				isNamed: false,
				username: '',
				user_id: 1,
				avatar_id: 1,
				title: 'PHP聊天室',
				user_count: 0,
				text: '',
				user_list: [
					{ name: '小罗', time: '2013-08-30 09:30', avatar_id: 1 },
					{ name: '小万', time: '2014-08-30 09:30', avatar_id: 1 },
					{ name: '小正', time: '2017-08-30 09:30', avatar_id: 1 },
				],
				chat_list: [
					{ avatar_id: 1, time: '08:31', txt: '啊实打实大苏打啊实打实大苏打啊实打实大苏打啊实打啊实打实大苏打阿三大苏打撒旦发射点犯得上', user_id: 1 },
					{ avatar_id: 1, time: '12:31', txt: '啊实打实大苏打啊实打实大苏打啊实打实大苏打啊实打', user_id: 2 }
				]
			},
			methods: {
				send() {
					this.request('chat', { avatar_id: this.avatar_id, time: '08:31', txt: this.text, user_id: this.user_id })
					this.chat_list.push({ avatar_id: this.avatar_id, time: '08:31', txt: this.text, user_id: this.user_id })
					this.text = ''
					setTimeout(function(){
						document.getElementById('chat-container').scrollTop = document.getElementById('chat-container').scrollHeight
					}, 10)
				},
				makeName() {
					if (this.username == '' || this.username.length < 2 || this.username.length > 6) {
						alert('请输入2-6位长度的名字')
						return false
					}
					this.request('makeName', {name: this.username})
					// this.isNamed = true
				},
				request(route, data) {
					this.ws.send(JSON.stringify({"route":route, "params":data}))
				}
			},
			mounted() {
				// setTimeout(()=>{
				// 	this.ws.send('hello world');
				// }, 5000)
			}
		})
	</script>
</body>
</html>